.header{
    background-image: url(./images/final-back.png);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    color: green;
    font-weight: bold;
}

body{
    background-color: rgb(255, 177, 88);
    box-sizing: border-box;
}

.reg-name {
    text-align: center;
}

.errorMessage{
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: red;
}

.text-box{
    margin-left: 30%;
    font-size: 20px;
}

.message {
    margin-left: 30%;
    padding-top: 1%;
    color: rgb(9, 0, 128)
}

.radio-buttons{
    margin-left: 5%;
}

.radio-buttons .radio-inline{
    padding-right: 5%;
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
    font-weight: bold;
}

.buttons{
    display: inline;
}

.buttons .add{
    border-radius: 20px;
    margin-left: 30%;
    font-size: 20px;
    margin-top: 2%;
}


.buttons .add:hover{
    background-color: red;
    color: wheat;
}

.display-button .show{
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 20px;
    margin-right: 5%;
    font-size: 20px;
}

.display-button .show:hover{
    background-color: red;
    color: white;
}

.buttons .clear{
    margin-left: 5%;
    border-radius: 20px;
    margin-right: 10%;
    font-size: 20px;
}

.buttons .clear:hover{
    background-color: red;
    color: white;
}

#reg-display li{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    display: inline-block;
    border-radius: 15px;
    border-color: black;
    border: solid black;
    color: black;
    background-color: yellow;
    font-size: 20px;
    list-style: none;
    margin-right: 2%;
}

/* #reg-display {
    
    display: inline-block;
} */

/* li{
    border-radius: 15px;
    border-color: black;
    color: black;
    background-color: grey;
    font-size: 10px;
} */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: rgb(228, 190, 67);
}
  
.right {
    right: 0;
    background-color: rgb(128, 224, 104);
}

.radio-buttonsTemp{
    margin-left: 5%;
}

.radio-buttonsTemp .radio-inline{
    padding-right: 5%;
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
    font-weight: bold;
}

.buttonsTemp{
    display: inline;
}

.buttonsTemp .addTemplate{
    border-radius: 20px;
    margin-left: 30%;
    font-size: 20px;
    margin-top: 2%;
}


.buttonsTemp .addTemplate:hover{
    background-color: red;
    color: wheat;
}

.display-button .showTemp{
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 20px;
    margin-right: 5%;
    font-size: 20px;
}

.display-button .showTemp:hover{
    background-color: red;
    color: white;
}

.buttonsTemp .clearTemplate{
    margin-left: 5%;
    border-radius: 20px;
    margin-right: 10%;
    font-size: 20px;
}

.buttonsTemp .clearTemplate:hover{
    background-color: red;
    color: white;
}

.text-boxTemp{
    margin-left: 30%;
    font-size: 20px;
}

/* #regsTemp{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    display: inline-block;
    border-radius: 15px;
    border-color: black;
    border: solid black;
    color: black;
    background-color: yellow;
    font-size: 20px;
    list-style: none;
    margin-right: 2%;
} */

.displayReg{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
    display: inline-block;
    border-radius: 15px;
    border-color: black;
    border: solid black;
    color: black;
    background-color: yellow;
    font-size: 20px;
    list-style: none;
    margin-right: 2%;
}

.messageTemp {
    margin-left: 30%;
    padding-top: 1%;
    color: rgb(9, 0, 128)
}

.errorMessageTemp{
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: red;
}